# TEMPERATURE = 1, HUMIDITY = 2, PRESSURE = 3

sensor_name /dev/temp1_input
sensor_type 1
sensor_alpha 0.1

sensor_name /dev/humidity1_input
sensor_type 2
sensor_alpha 0.2

sensor_name /sys/bus/iio/devices/iio:device0/in_pressure_raw
sensor_type 3
sensor_alpha 0.05